@use '../global/abstracts' as *;

.memberships {
	background-color: $white;
	color: $dark;
	padding-block: clamp(5rem, 4.614rem + 1.93vw, 6.25rem);
	overflow: hidden;
	position: relative;

	&__title {
		text-align: center;
		margin-bottom: clamp(3.75rem, 3.364rem + 1.93vw, 5rem);
	}

	&__table {
		display: block;
		max-width: rem(1095);
		margin-inline: auto;
		margin-bottom: clamp(3.75rem, 3.17rem + 2.9vw, 5.625rem);
		overflow-x: auto;

		&::-webkit-scrollbar {
			height: rem(10);
		}

		&::-webkit-scrollbar-track {
			background-image: linear-gradient(to bottom, transparent 33%, $dark 33%, $dark 66%, transparent 66%);
		}

		&::-webkit-scrollbar-thumb {
			background-color: $accent;
		}

		th {
			transition: color .3s;

			&.highlighted {
				color: $accent;
			}
		}

		td {
			text-align: center;
			padding-inline: rem(10);
			transition: text-shadow 250ms;

			@media (any-hover: hover) {
				&:hover {
					text-shadow: 0 0 rem(1) $dark;
				}
			}
		}

		thead {
			border-bottom: rem(1) solid rgba($dark, .5);

			tr th {
				min-width: rem(170);
				padding-inline: rem(10);
				padding-bottom: rem(15);
				white-space: nowrap;

				@media (min-width: em(768)) {
					font-size: rem(18);
				}

				&:first-child {
					text-align: left;
					font-weight: 500;
					padding-left: rem(15);

					@media (min-width: em(1125)) {
						padding-left: 0;
					}
				}

				&:last-child {
					min-width: rem(175);
					padding-right: rem(15);
				}
			}
		}

		tbody tr:last-child > * {
			padding-bottom: rem(25);
		}

		tbody tr > * {
			padding-top: clamp(1.688rem, 1.533rem + 0.77vw, 2.188rem);

			&:last-child {
				min-width: rem(165);
				padding-right: rem(15);

				@media (min-width: em(1125)) {
					padding-right: rem(10);
				}
			}
		}

		tbody tr th {
			text-align: left;
			padding-left: rem(15);

			@media (min-width: em(1125)) {
				padding-left: 0;
			}

			span {
				font-weight: 500;
			}
		}

		&--1 {
			tbody tr th {
				max-width: rem(212);
			}

			td {
				min-width: rem(170);
			}
		}

		&--2 {
			tbody tr th {
				width: rem(245);

				@media (min-width: em(768)) {
					width: auto;
				}
			}

			thead tr th {
				min-width: rem(135);

				&:last-child {
					min-width: rem(140);
				}
			}

			tbody tr > *:last-child {
				min-width: rem(140);
			}

			td {
				min-width: rem(135);
			}
		}
	}

	&__subtitle {
		font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);
		text-align: center;
		font-weight: 700;
		margin-bottom: clamp(2.813rem, 2.136rem + 3.38vw, 5rem);
	}

	&__cards {
		display: grid;
		grid-template-columns: rem(290);
		justify-content: center;
		gap: rem(30);

		@media (min-width: em(1000)) {
			grid-template-columns: repeat(3, minmax(rem(290), rem(310)));
		}
	}

	&__item {
		&.animated {
			.memberships__card {
				opacity: 1;
				transform: none;
			}
		}

		@media (min-width: rem(1000)) {
			@for $i from 0 to 3 {
				&:nth-child(#{$i + 1}) .memberships__card {
					transition: box-shadow .3s,
					opacity .6s #{$i * 0.1s},
					transform .6s #{$i * 0.1s};
				}
			}
		}
	}

	&__card {
		text-align: center;
		background: $white;
		padding: rem(30) rem(20);
		box-shadow: 0 rem(4) rem(40) rgba(#000, .08);
		display: flex;
		flex-direction: column;
		min-height: rem(372);
		height: 100%;

		opacity: 0;
		transform: translateY(50%);

		transition: box-shadow .3s, opacity .6s, transform .6s;

		&:active {
			box-shadow: 0 rem(4) rem(40) rgba(#000, .2);

			.memberships__card-title {
				color: $accent;
			}

			.memberships__card-button {
				background-position: left;
				color: $white;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 rem(4) rem(40) rgba(#000, .2);

				.memberships__card-title {
					color: $accent;
				}

				.memberships__card-button {
					background-position: left;
					color: $white;
				}
			}
		}
	}

	&__card-title {
		font-weight: 700;
		margin-bottom: rem(38);
		transition: color .3s;

		@media (min-width: em(1000)) {
			margin-bottom: rem(20);
		}
	}

	&__card-time {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: rem(10) rem(25);
		margin-bottom: rem(38);

		@media (min-width: em(1000)) {
			flex-direction: column-reverse;
			margin-bottom: rem(15);
		}

		span {
			font-size: rem(15);
			color: rgba($dark, .5);
			max-width: rem(150);

			@media (min-width: em(1000)) {
				max-width: 100%;
			}
		}
	}

	&__card-price {
		font-size: rem(24);
		font-weight: 700;
		margin-bottom: rem(15);

		margin-top: auto;
	}

	&__card-amount {
		font-size: rem(15);
		color: rgba($dark, .5);
		margin-bottom: clamp(0.938rem, -0.289rem + 2.56vw, 1.875rem);
	}

	&__card-button {
		align-self: center;

		min-width: rem(180);
		min-height: rem(50);

		@media (min-width: em(1000)) {
			min-width: calc(100% - rem(40));
		}
	}

	&__decor {
		.decor__el--right {
			&.decor__bordered {
				border-color: $accent;
				width: rem(16);
				height: rem(130);

				top: rem(515);
				right: rem(-22);

				@media (min-width: em(768)) {
					width: rem(28);
					height: rem(200);
					top: rem(516);
					right: rem(-40);
				}

				@media (min-width: em(1000)) {
					width: rem(50);

					top: rem(466);
					right: rem(-6);
				}
			}

			&.decor__dark {
				width: rem(16);
				height: rem(130);

				top: rem(525);
				right: rem(-22);

				@media (min-width: em(768)) {
					width: rem(26);
					top: rem(610);

					right: rem(-12);
				}

				@media (min-width: em(1000)) {
					width: rem(50);
					height: rem(230);

					top: rem(478);
					right: rem(-15);
				}
			}

			&.decor__accent {
				width: rem(5);
				height: rem(45);
				top: rem(600);
				right: rem(-8);

				@media (min-width: em(768)) {
					width: rem(8);
					height: rem(70);
					top: rem(667);
					right: rem(-15);
				}

				@media (min-width: em(1000)) {
					width: rem(15);

					top: rem(630);
					right: rem(10);
				}
			}
		}

		.decor__el--left {
			&.decor__bordered {
				width: rem(20);
				height: rem(126);
				border-color: $accent;

				top: rem(1034);
				left: rem(-20);

				@media (min-width: em(768)) {
					width: rem(50);
					height: rem(312);

					top: rem(905);
					left: rem(-49);
				}

				@media (min-width: em(1000)) {
					width: rem(60);
					height: rem(388);

					top: rem(766);
					left: rem(-57);
				}
			}

			&.decor__dark {
				width: rem(17);
				height: rem(100);

				top: rem(1050);
				left: rem(-26);

				@media (min-width: em(768)) {
					width: rem(40);
					height: rem(251);

					top: rem(951);
					left: rem(-56);
				}

				@media (min-width: em(1000)) {
					width: rem(50);
					height: rem(312);

					top: rem(814);
					left: rem(-70);
				}
			}
		}
	}
}